apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-services-application
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: argocd
  source:
    path: apps/definitions/nginx
    repoURL: 'https://github.com/dpetrocelli/argocd-apps.git'
    targetRevision: HEAD
  project: app-services
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
